---
---
<div class="card">
  <p>Mi primer componente Astro</p>
</div>

<style>   
  .card {
    background-color: #e47878;
    padding: 1rem; 
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: Arial, sans-serif;
    color: #333;
  }
</style>