<%- include("./partials/header.ejs"); %>

    <body>
        <h1>Registrar Pelicula</h1>

        <form action="/registrar" method="post">
            <div>
                <label for="titulo" class="form-label">Titulo</label>
                <input type="text" id="titulo" name="titulo" class="form-control">
            </div>
            <div>
                <label for="director" class="form-label">Director</label>
                <input type="text" id="director" name="director" class="form-control">
            </div>
            <div>
                <label for="genero" class="form-label">Genero</label>
                <input type="text" id="genero" name="genero" class="form-control">
            </div>
            <div>
                <label for="anio" class="form-label">Año</label>
                <input type="text" id="anio" name="anio" class="form-control">
            </div>
            <div>
                <label for="duracion" class="form-label">Duracion</label>
                <input type="text" id="duracion" name="duracion" class="form-control">
            </div>
            <div>
                <label for="nota" class="form-label">Nota</label>
                <input type="text" id="nota" name="nota" class="form-control">
            </div>
            <div>
                <label for="pais" class="form-label">Pais</label>
                <input type="text" id="pais" name="pais" class="form-control">
            </div>

            <button class="mt-2 btn btn-primary" type="submit">Registrar</button>

        </form>
    </body>

<%- include("./partials/footer.ejs"); %>