<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORM</title>
</head>

<body>

    <form action="/admin" method="POST">

        <div>
            <label for="usuario">Usuario</label>
            <input type="text" id="usuario" name="usuario">
        </div>

        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
        </div>

        <div>
            <button type="submit">
                Entrar
            </button>
        </div>

    </form>

</body>

</html>